<p class="text-gold-100 text-xl lg:pt-48 pt-16"><span class="font-bold">TACO</span> presents</p>
<h1 class="mt-2 text-6xl">the 6th Annual <span class="font-cursive text-7xl text-gold-400">No Show Gala</span></h1>

<div class="lg:pr-48 font-light">
  <p class="text-xl mt-8">Join us for a night of not attending while supporting San Diego’s award-winning non-profit organization.</p>

  <p class="text-xl mt-8">Don’t get dressed up, don’t get a sitter, don’t pay for parking.</p>

  <p class="text-xl mt-8">Don’t do anything while supporting TACO’s work of feeding and caring for our unhoused friends and neighbors.
</div>

<div class="mt-8 w-fit lg:flex">
  <%= link_to products_path, class: 'text-black' do %>
    <div class="bg-gold-600 p-4 w-fit rounded">
      <div class="bg-gold-100 w-fit px-9 py-3 rounded border-4 border-black">
        <span class="text-4xl font-bold">R.S.V.P.</span>
      </div>
    </div>
  <% end %>
  <p class="pl-4 flex mt-4 self-center text-3xl font-light">by Oct 30, 2023</p>
</div>
